@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins',sans-serif;
    background-color: #f6f6f6;
    color:#0f1f1c;
}

.none {
    display:none !important
}

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondare: rgba(15, 31, 28,0.5);
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
    }