@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins',sans-serif;
    background-color: #f6f6f6;
    color:#0f1f1c;
}

.none {
    display:none !important
}

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondare: rgba(15, 31, 28,0.5);
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
    }

    .container-right{
        padding-left:calc( 100% - var(--container-width)/2 + var(--container-padding) );
        }


/* Header */


.header {
    overflow: hidden;
    color: #FFF;
    position: relative;
    padding-top: 44px;
    min-height: 940px;
    background:linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%),#204434;
}

.header a {
    color: #fff;
}

.header:after { 
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 96px;
    background-image: url("./../img/header/treug.svg");
    background-size: 100%;
}
        

.header__top {
    margin-bottom: 86px;
}

.header__content {
   /*  background-color: #f0f0f0;*/
    max-width: 592px;
    position: relative;
    z-index:1;
}


/* NAVIGATION */

.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.logo a {
    color: inherit;
} 

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}

.nav__list a {
    position: relative;
}


.nav__list a.active::after,
.nav__list a:hover::after {

 content: "";
 position: absolute;
 left:0;
 bottom: -6px;
 display: block;
 width:35px;
 height:4px;
 background-color:#c4c4c4;
 border-radius: 50px;

}

.nav__signup {
display: flex;
column-gap: 25px;
font-size: 15px;
font-weight: 500;
align-items: center;
}

/* Button */

.btn {
    display:inline-block;
    padding: 13px 44px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500px;
    color: #fff;
}

/*поведение при наведении */
.btn:hover {
color:black; /* меняет цвет */
transition:color 0.3s ease-in; /* медленно меняет цвет */
}

.btn:active {
    position: relative;
    top: 1px;
}


/* header content */


.header__badge {
margin-bottom:7px;
display:inline-block;
padding: 11px 30px;
font-size: 18px;
font-weight: 500;
background: rgba(255, 255, 255, 0.25);
border-radius: 15px;

}

.header__title {
margin-bottom: 30px;
font-size: 55px;
font-weight: 300;

}

.header__text {

margin-bottom: 68px;
font-size: 25px;
font-weight: 700;
color:rgba(255, 255, 255, 0.7);
}

.header__button {
display: inline-block;
padding: 27px 48px;
font-size: 25px;
font-weight: 600;
background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
border-radius: 27px;


}

.header__button:hover {
    color:black; /* меняет цвет */
    transition:color 0.3s ease-in; /* медленно меняет цвет */
    } 

.header__row {
    display: flex;
}
.header__image {
    position: relative;
    flex-grow: 1;
}
.header__image img {
 position: absolute;
 top: -170px;
 right: -87px;
max-width: unset;
width: 894px;
height: 940px;
}