@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins',sans-serif;
    background-color: #f6f6f6;
    color:#0f1f1c;
}

.none {
    display:none !important
}

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondare: rgba(15, 31, 28,0.5);
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
    }

    .container-right{
        padding-left:calc( 100% - var(--container-width)/2 + var(--container-padding) );
        }


/* Header */


.header {
    overflow: hidden;
    color: #FFF;
    position: relative;
    padding-top: 44px;
    min-height: 940px;
    background:linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%),#204434;
}

.header a {
    color: #fff;
}

.header:after { 
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width:100%;
    height: 96px;
    background-image: url("./../img/header/treug.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
        

.header__top {
    margin-bottom: 86px;
    position: relative;
    z-index:2;
}

.header__content {
   /*  background-color: #f0f0f0;*/
    max-width: 592px;
    position: relative;
    z-index:1;
}


/* NAVIGATION */

.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.logo a {
    color: inherit;
} 

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}

.nav__list a {
    position: relative;
}


.nav__list a.active::after,
.nav__list a:hover::after {

 content: "";
 position: absolute;
 left:0;
 bottom: -6px;
 display: block;
 width:35px;
 height:4px;
 background-color:#c4c4c4;
 border-radius: 50px;

}

.nav__signup {
display: flex;
column-gap: 25px;
font-size: 15px;
font-weight: 500;
align-items: center;
}

/* Button */

.btn {
    display:inline-block;
    padding: 13px 44px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500px;
    color: #fff;
}

/*поведение при наведении */
.btn:hover {
color:black; /* меняет цвет */
transition:color 0.3s ease-in; /* медленно меняет цвет */
}

.btn:active {
    position: relative;
    top: 1px;
}


/* header content */


.header__badge {
margin-bottom:7px;
display:inline-block;
padding: 11px 30px;
font-size: 18px;
font-weight: 500;
background: rgba(255, 255, 255, 0.25);
border-radius: 15px;

}

.header__title {
margin-bottom: 30px;
font-size: 55px;
font-weight: 300;

}

.header__text {

margin-bottom: 68px;
font-size: 25px;
font-weight: 700;
color:rgba(255, 255, 255, 0.7);
}

.header__button {
display: inline-block;
padding: 27px 48px;
font-size: 25px;
font-weight: 600;
background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
border-radius: 27px;


}

.header__button:hover {
    color:black; /* меняет цвет */
    transition:color 0.3s ease-in; /* медленно меняет цвет */
    } 

.header__row {
    display: flex;
}
.header__image {
    position: relative;
    flex-grow: 1;
}
.header__image img {
 position: absolute;
 top: -170px;
 right: -87px;
max-width: unset;
width: 894px;
height: 940px;
}


/* destinations */

.destinations {
    overflow-x: hidden;
    padding: 96px 0 100px;
}

.destinations_row {
    display: flex;
    justify-content: center;
    column-gap: 50px;

}

.destinations__content {

}

.destinations__slider {
    width: 1110px;
    flex-shrink: 0;
}

.destinations__title {
margin-bottom: 15px;
font-size: 55px;
font-weight: 600;
}

.destinations__title span {
display: block;
font-size: 30px;
}

.destinations__text {
    font-size: 25px;
    font-weight: 500;
    color: var(--secondare);
    margin-bottom: 60px;
}

.destinations__btn {
display: inline-block;
padding: 25px 45px;
border-radius: 27px;
font-style: 20px;
font-weight: 600;
background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
color: #FFF;
}


/* slider */

.slider {
   height:456px;
position: relative;
}

.slider__item {
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;
    transition: 0.2s ease-in;
    margin-top: 27px;
}

.slider__item.active {
    width: 380px;
    height: 456px;
}

.slider .center .slider__item {
    width: 380px;
    height: 456px;
    margin-top: 0px;
}

.slider__btn {

    border:none;
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
}

.slider__btn--prev {

    padding-left: 26px;  
    justify-content: flex-start;

    position: absolute;
    right:-20px;
    top:42%;
    transform: translateY(-50%);
    z-index:2;
}

.slider__btn--next {    
    position: absolute;
    left:-20px;
    top:42%;
    transform: translateY(-50%);
    padding-right: 26px;
    justify-content: flex-end;
    z-index:1;
}


/* Costumers */


.costumers {
padding:100px 0  133px;
display: flex;
justify-content: center;
}

.costumers__row {
display: flex;
column-gap: 68px;
}

.costumers_img {
max-width: 478px;
}

.costumers_img img {
    border-radius: 60px;
    }

.costumers__content {

}

.costumers__title {
margin-bottom: 35px;
font-size: 45px;
font-weight: 500;
}

.review {
max-width: 490px;
}

.review__client {
    display: flex;
    align-items: center;
    column-gap: 33px;
margin-bottom: 60px;
}

.review__client--avatar {
    overflow: hidden;
width: 134px;
height: 134px;
border-radius: 50%;
background-color: #FF794E;

}

.review__client--desc {

}

.review__client--desc-name {
font-size: 33px;
margin-bottom: 10px;
font-weight: 500;
}

.review__client--desc-country {
 font-size: 25px;
 color: var(--secondare);
}

.review__text {
margin-bottom: 30px;
color:var(--secondare);
font-size: 22px;
font-weight: 500;
}


.review__rating {

}




.cta {
padding: 100px 0;
}

.cta__plate {
    position: relative;
background-color: #fff;
border-radius: 60px;
display: flex;
flex-direction: column;
align-items: center;
min-height: 580px;
padding: 40px 15px;
justify-content: center;

}

.cta__plate::after,
.cta__plate::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 83px;

}

.cta__plate::after {
    top: 74px;
    right:80px;
    background-image: url('./../img/cta/cta-el-02.svg');
}

.cta__plate::before {
    left: 74px;
    bottom: 56px;
    background-image: url('./../img/cta/cta-el-01.svg');
}



.cta__title {
font-size: 45px;
font-weight: 500;
margin-bottom: 30px;
}

.cta__text {
margin-bottom: 60px;
font-size: 30px;
color:var(--secondare);
}

.cta__button {

}

.subscribe {
padding:35px 0 50px;
}

.subscribe__title {
margin-bottom: 60px;
max-width: 494px;
font-size: 55px; 
font-weight: 600;
text-align: center;
}

.subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-form {
border-radius: 35px;
background-color: #fff;
padding: 12px 15px 12px 46px;
display: flex;
column-gap: 20px;
}

.subscribe-form__input {
border: none;
font-size: 24px;
font-weight: 500px;
color: var(--secondare);
}

.subscribe__form__input::placeholder {
    border: none;
    color: var(--secondare);
}

.subscribe-form__btn {
    border: none;
    display:inline-block;
    padding: 34px 86px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 35px;
    font-size: 25px;
    font-weight: 600px;
    color: #fff;
}

.subscribe-form__btn:active,
.subscribe-form__btn:hover {
    color:black; /* меняет цвет */
    transition:color 0.3s ease-in; /* медленно меняет цвет */
}